doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

ul
  li Puce 1
  li Puce 2
  li Puce 3
  li Puce 4
  li Puce 5
  li Puce 6
